@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .link{
        @apply cursor-pointer hover:underline
    }
    .button{
        @apply p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-500 focus:outline-none border-yellow-500 rounded-md active:from-yellow-500 active:to-yellow-200
    }
}